body{
    background-color: #EAEAF0;
    color: #31363F;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    justify-text: center;
    text-align: center;}

#header{
    background-color: rgba(226, 225, 213);
    width: 70%;
    margin-top: 2%;
    border-radius: 30px;
    padding: 1%;
    justify-content: center;}

#main{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    min-height: 70%;
    align-content: center;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 225, 213) ;
    border-radius: 30px;}

#title{
    background-color: #E2E1D5}

h4{
    font-size: 20px;
    padding: 2px;
}

#button{
    background-color: #4682B4;
    border-color: #EEEEEE;
    color: #DCDCDC;}

#input{
    border-radius:5px;
    height: 38px;
    background-color: #4682B4;
    border-color: #EEEEEE;
    color: #DCDCDC;
    text-align: center;
    margin: 5px;
    font-weight: bold;}
thead{
    background-color:#B0C4DE;
    font-weight: bold;}

th, td{
    align-self: center;
    border: 1px solid rgb(160 160 160);}

table {
    display: compact;
    border: 1px solid rgb(160 160 160);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    padding: 30px;}
.center{
    margin-left: auto;
    margin-right: auto;}
