body{
    background-color: #EEEEEE;
}

#second{
  display: flex;
  align-items: center;
  justify-text: center;
  margin: 12px;
  height: 85vh;
  color: #31363F;
  background-color: #EEEEEE;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 415;
  font-style: normal;
}

#first{
  display: flex;
  align-items: center;
  justify-text: center;
  margin 12px;
  color: #31363F;
  background-color: #EEEEEE;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 415;
  font-style: normal;
}

.space-above{
    margin-top: 20px;
    padding-top: 20px;
}

#input{
  width: 30%;
  border-color: #31363F;
  align: center;
  margin-left: 100,
  color: #539165;
}
form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}