body{
    background-color: #000000;
    color: #FDFDFD;
    font-family: "Montserrat", serif;
    /* font-optical-sizing: auto;
    font-style: initial;
    font-weight: normal; */
    text-align: center;
}

.h1-title {
    padding-top: 185px;
    padding-bottom: 64px;
    font-family: "Bebas Neue", serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 1%;
    text-align: center;
}


.container-main {
    padding: 1%;
    margin-top: 1%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.container-form,.container-title{
    margin: 1% 0%;
}
.container-header{
    padding-top: 40px;
    z-index: 1;
}

.container-title {
    /* font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal; */
    /* color: whitesmoke; */
    /* background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.container-form {
    /* padding: 35px;
    color: whitesmoke;
    /* font-family: "Noto Znamenny Musical Notation"; */
    /* padding-bottom: 35px; */
} 

.btn-primary {
    width: 56px;
    height: 56px;
    top: 192px;
    left: 269px;
    gap: 4px;
    color: #FDFDFD;
    background-color: #FE6C3B;
    border-radius: 110px;
    border-width: 2px;
    border-color: #FDFDFD;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    
}

input {
    width: 250px;
    height: 59px;
    color: #FDFDFD;
    gap: 4px;
    border-radius: 110px;
    border-width: 2px;
    border-color: #FDFDFD;
    background-color: #000000;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 2%;
    margin-bottom: 2%;
    width: 848px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #FDFDFD;
}

th {
    /* background-color: #f9f9f9;
    color: #333; */
}

tr:nth-child(even) {
  /* background-color: #f9f9f9; */
}

h4 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

thead {
    background-color:#e0eafa;
    color: #000000;
    font-weight: 700;
    font-size: 25px;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

/*th, td{*/
/*    align-self: center;*/
/*    border: 1px solid rgb(160 160 160);}*/

/*table {*/
/*    display: compact;*/
/*    border: 1px solid rgb(160 160 160);*/
/*    font-size: 0.8rem;*/
/*    letter-spacing: 0.5px;*/
/*    padding: 30px;*/
/*    margin-bottom: 2%;*/
/*    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
/*}*/

.center {
    margin-left: auto;
    margin-right: auto;
}

.flex form-check-inline {
    font-family: "Montserrat", serif;
}

img {
    justify-content: center;
    align-self: center;
}