{% extends 'base.html' %}
{% block title %}Cinema assistant{% endblock%}

{% block content %}
    <div class="row">
        <div class="col">
            <div id="title" class="col">
                <a>
                <img src="/static/movie2.png"
                     alt="Movie" width="60" height="60" class="rounded-left">
                <h1 class="d-flex justify-content-center py-sm-3">Warsaw movie recommendations</h1></a>
            </div>
        </div>
    </div>
    <div id="form" class="row">
        <form action="{{url_for('final', options = day)}}"  method="GET">
            <div class="flex form-check-inline">
                <input type="radio" id="TODAY" name="day" value="TODAY" checked>
                <label for="TODAY">TODAY</label>
            </div>
            <div class="flex form-check-inline">
                <input type="radio" id="TOMORROW" name="day" value="TOMORROW">
                <label for="TOMORROW">TOMORROW</label></div>
            <div class="flex form-check-inline">
                <input type="radio" id="DAY AFTER TOMORROW" name="day" value="DAY AFTER TOMORROW">
                <label for="DAY AFTER TOMORROW">DAY AFTER TOMORROW</label></div>
          <button id='button' type="submit" class="btn btn-primary">See results</button>
        </form>
    </div>
    <br>
    <div class="row">
        <h4>The results will be with you in about 20 seconds.</h4>
    </div>
{%endblock%}

