{% extends 'base.html' %}
{% block title %}Results{% endblock %}

{% block content %}
<div class="jumbotron text-center" id="first">
    <div class="container">
        <h1 class="display-6">Movie recommendations in Warsaw</h1>
        <hr>
        <div class="table bdr">
        <table class="table">
          <thead class="table-primary">
            <th scope="col">Title</th>
            <th scope="col">Rating</th>
            <th scope="col">Time & Place</th>
            <th scope="col">Cinema</th>

          </thead>
            <tbody>
            {% for i in post: %}
            <tr>
            <th><a href={{i['link']}}>{{ i['title'] }}</a></th>
            <th> {{ i['rating'] }}</th>
            <th> {{ i['time'] }}</th>
            <th> {{ i['cinema'] }}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <br>
            <button type="button" class="btn btn-primary">
                <a href={{url_for('front')}} style="color:inherit">Go Back
                </a></button>
        </div>
    </div>
</div>
{% endblock %}
